body{
    background-color: rgb(36, 35, 35);
}
.main{
    display:flex;
    width: 400px;
    height: 400px;
    background: rgb(153, 70, 183);
    margin-left: 495px;
    margin-top: 205px;
    border-radius: 25px;
    box-shadow:2px 3px 4px rgb(5, 16, 22);
    padding: 1px;
}
.clock{
    height: 300px;
    width: 300px;
    background: rgb(255, 255, 255);
    margin-left:55px ;
    margin-top: 55px;
    border-radius: 150px;
    border:2px solid;
    box-shadow:0 0 30px rgb(0, 0, 0) ;
    border-color: rgb(210, 143, 43);
    display:flex;
    justify-content: center;
    align-items: center;

}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 275px;
    text-align: center;
}
.clock span b{
    transform:rotate(calc(-30deg * var(--i)));
    display:inline-block;
    font-size:30px ;
}
.clock::before{
    content: '';
    position:absolute;
    text-align: center;
    height:10px;
    width:10px;
    background:rgb(37, 159, 18);
    border-radius:50%;
    z-index: 2;
}
.hand{
    position:absolute;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}
.i1{
    position:absolute;
    height: 60px;
    width: 8px;
    background: rgb(0, 0, 0);
    border-radius: 8px;
}
.i2{
    position:absolute;
    height: 90px;
    width: 5px;
    background: rgb(137, 74, 196);
    border-radius: 8px;
}
.i3{
    position:absolute;
    height: 120px;
    width: 4px;
    background: rgb(37, 159, 18);
    border-radius: 8px;
}


